*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.logo{
    background: #f22f2f;
     display: flex;
     justify-content: center;
     align-items: center;
    height: 100vh;
    width: 100%;

}
marquee{
 font-size: 40px;
 font-weight: 600;
 text-shadow: 2px 2px black;
 color: wheat;
 height: 100px;
 background: #924747;
 scroll-behavior: 10;

}